@font-face {
  font-family: "THSarabunNew";
  font-style: normal;
  font-weight: normal;
  src: url("{{ asset('fonts/THSarabunNew.ttf') }}") format("truetype");
}

@font-face {
  font-family: "THSarabunNew";
  font-style: normal;
  font-weight: bold;
  src: url("{{ asset('fonts/THSarabunNew Bold.ttf') }}") format("truetype");
}

@font-face {
  font-family: "THSarabunNew";
  font-style: italic;
  font-weight: normal;
  src: url("{{ asset('fonts/THSarabunNew Italic.ttf') }}") format("truetype");
}

@font-face {
  font-family: "THSarabunNew";
  font-style: italic;
  font-weight: bold;
  src: url("{{ asset('fonts/THSarabunNew BoldItalic.ttf') }}")
    format("truetype");
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 18px;
}

body {
  font-family: "THSarabunNew";
  font-size: 14pt;
  margin: 0 0;
  /* border: 1px solid black; */
}

.container {
  width: 100%;
  padding: 0;
  margin: 0 20px 0 50px;
  /* background-image: url("assets/img/print_bg.png"); */
  background-repeat: repeat;
  background-position: center;
  /* border: 1px dashed red; */
}

.header {
  margin: 0 0 0 0;
  padding: 5px 5px 0;
  text-align: center;
  /* border: 1px dashed red; */
}

.header p img {
  height: 65px;
  position: absolute;
  top: 15px
}

.header h2 {
  margin: 0;
  padding: 40px 0 0;
}

.header-text h1, h2, h3, h4 {
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  min-height: 500px;
}

.footer {
  display: flex;
  justify-content: center;
}

/* table {
  border: 1px dashed black;
} */

th, td {
  padding: 0;
  margin: 0;
  vertical-align: text-top;
  padding-left: 2px;
}

td p {
  padding: 0;
  margin: 0;
}

.table {
  border-collapse: collapse;
}

.table th, td {
  padding: 0px;
  margin: 0px;
  vertical-align: text-top;
  padding-left: 5px;
}

.dot {
  padding: 0px;
  margin: 0px;
}

span.text-val {
  font-weight: bold;
  text-decoration: underline;
}

span.text-val-dot {
  width: 100%;
  font-weight: bold;
  border-bottom: 1px dotted black;
}

.p5 {
  padding: 0 5px;
}

.p10 {
  padding: 0 10px;
}

.p15 {
  padding: 0 15px;
}

.p20 {
  padding: 0 20px;
}

ul.committee-lists {
  margin: 0 0 5px;
  padding: 0;
  list-style: none;
  /* border: 1px dashed red; */
}

.committee-lists .committee-list {
  padding: 0;
  margin: 0 0 0 15px;
  width: 90%;
  border-bottom: 1px dotted black;
  /* border: 1px dashed red; */
}

.content-header {
  margin: 0;
  padding: 0;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  /* border: 1px dashed blue; */
}

.content__header-topic {
  font-size: 20px;
  font-weight: bold;
  /* border: 1px dashed blue; */
}

.content__header-text {
  margin: 0;
  padding: 0;
  /* display: inline-block; */
  /* border: 1px dashed red; */
  border-bottom: 1px dotted black;
}

.w80 {
  width: 80%;
}

.w90 {
  width: 90%;
}

.w100 {
  width: 100%;
}
